body {
    font-family: inter;
    height: 100vh;
    width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*HEADER SECTION*/
header {
    display: flex;
    justify-content: space-around;
    padding: 2rem ;
}

a {
    color: black;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-right: -10rem;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-weight: 500px;    
}

.header-a {
    font-weight: 500;
    font-size: 16px;
    margin-right: 2rem;
}

.header-img {
    width: 27px;
    height: 27px;
}

.logo-p {
    font-family: inter;
    font-size: 18px;
}

.header-links-cadastro {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-cadastrar {
    background: #8E2424;
    color: white;
    border: #8E2424 2px solid;
    border-radius: 4px;
    padding: 10px 18px;
}

@media (max-width: 1310px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }

    .header-logo {
        margin-right: 0;
    }


}

/*Sobre nós section*/

.quemsomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 410px;
    text-align: center;
}

.quemsomosspan {
    font-size: 16px;
    font-weight: 600;
    color: #8E2424;
}

.quemsomosh1 {
    font-size: 48px;
    font-weight: 600;
    color: #101828;
}

.quemsomosp {
    font-size: 20px;
    font-weight: 400;
    color: #667085;
}


/*METRICAS SECTION*/

.metricassection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    margin-top: 5rem;
}

.h1metricas {
    font-weight: 600;
    font-size: 60px;
    color: #8E2424;
    margin: 0;
}

.h3metricas {
    font-weight: 500;
    font-size: 18px;
    color:#101828;
}

.pmetricas {
    font-weight: 400;
    font-size: 16px;
    color:#667085;
    line-height: 1.5rem;
}

/*VAGAS SECTION*/

.vagassection {
    text-align: center;
    padding-top: 8rem;
}

.pvagas {
    font-size: 14px;
    font-weight: 500px;
    color: #8E2424;
    background-color: #8E24240D;
    display: inline-block;
    border: 7px #8E24240D solid;
    border-radius: 16px;
    margin: 0 0 1.5rem 0;
}

.h1vagas {
    font-size: 36px;
    font-weight: 600px;
    color: #101828;
    margin: 0 0 1.5rem 0;
}

.h3vagas {
    font-size: 20px;
    font-weight: 400px;
    color: #667085;
    margin: 0 0 5rem 0;
}

.imgvagas {
    padding:  96px, 0px, 96px, 0px;
    width: 70%;
}

