body {
    font-family: inter;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*HEADER SECTION*/
header {
    display: flex;
    justify-content: space-around;
    padding: 30px ;
    gap: 40%;

}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px
}

.header-container {
    display: flex;
    gap: 120px
}

.header-links {
    display: flex;
    align-items: center;
    gap: 24px;
    font-weight: 500px;
}

.header-a {
    font-weight: 500;
    font-size: 16px;
}

.header-img {
    width: 27px;
    height: 27px;
}

.logo-p {
    font-family: inter;
    font-size: 18px;
}

.header-links-cadastro {
    display: flex;
    align-items: center;
    gap: 24px
}

.header-cadastrar {
    background: #8E2424;
    color: white;
    border: #8E2424 2px solid;
    border-radius: 4px;
    padding: 10px 18px;
}